- var addOrEdit = editing ? 'edit-product' : 'add-product'

- var valTitle = editing ? `${product.title}` : '' 

- var valImageUrl = editing ? `${product.imageUrl}` : ''

- var valPrice= editing ? `${product.price}` : '' 

- var valDescription = editing ? `${product.description}` : ''

- var valBtn = editing ? 'Update Product' : 'Add Product' 